@model MvcProject.Models.Review
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/Styles/OverideCreateByProduct.css" />
</head>
<body>

    <h4>Review</h4>
   
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <p>Username:</p>
<<<<<<< HEAD
=======
                    @*<label asp-for="UserName" class="control-label"></label>*@
>>>>>>> 91bc392d23e53e79b4ef67a33c8efd695839fbbc
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <p>Rating:</p>
<<<<<<< HEAD
=======
                    @*<label asp-for="Rating" class="control-label"></label>*@
>>>>>>> 91bc392d23e53e79b4ef67a33c8efd695839fbbc
                    <select name="Rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <p>Review:</p>
                    <textarea asp-for="Content" rows="10" cols="30" class="form-control" ></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <input type="hidden" name="ProductID" class="form-control" value="@ViewBag.ProductID" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
<<<<<<< HEAD
        
=======
        </div>
    <div class=" one">
        @*<a asp-action="/Product/Index/@Model.ID">Back to List</a>*@
    </div>
>>>>>>> 91bc392d23e53e79b4ef67a33c8efd695839fbbc
    <footer><h6>&copy;Vehicle Reviews 2019</h6></footer>

</body>
</html>
