@model  IEnumerable<MvcProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle Reviews</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/OverideProductStyle.css" />
</head>
<body>
    <h1>Vehicle Reviews</h1>
    <div>
        
        <section id="Products">
        @foreach (var cars in Model)
        {
            <article> 
                <p><a href="/Product/Details/@cars.ID">@cars.Title</a></p>
                <img src="@cars.Image" alt="McLaren 570 Spyder" style=" height: 15rem; width:21px;"/>
            </article>
        }
        </section>
    </div>
    <footer><h6>&copy;Vehicle Reviews 2019</h6></footer>
</body>
</html>
