@model  IEnumerable<MvcProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Page</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/Prod.css" />
</head>
<body>
    <h1>Cars Reviews</h1>
    @*<a href="/Home/Index">Go Back</a>*@
    <div>
        
        <section id="Products">
        @foreach (var cars in Model)
        {
            <article> 
                <p><a href="/Product/Details/@cars.ID">@cars.Title</a></p>
                <img src="@cars.Image" alt="McLaren 570 Spyder" style=" height: 120px; width:260px;" />
            </article>

        }
        </section>


    </div>
    <footer><h6>&copy;Car Reviews 2019</h6></footer>
</body>
</html>
