@model  IEnumerable<MvcProject.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Page</title>
</head>
<body>
    <h1>Cars List</h1>
    <a href="/Home/Index">Go Back</a>
    <div>
        
        @foreach (var cars in Model)
        {
            <p><a href="/Product/Details/@cars.ID">Title <span> @cars.Title</span></a></p>
            <img src="@cars.Image" alt="McLaren 570 Spyder" style=" height: 200px; width:320px;" />
            <hr/>
        }


    </div>
    <footer>&copy;Car Reviews 2019</footer>
</body>
</html>
