
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Page</title>
</head>
<body>
    <h1>Products To Review</h1>
    <div>
        <img src="~/Images/mclaren-570s-spider-design-edition.jpg" alt="McLaren 570 Spyder" />
        <h2>McLaren 570 Spyder</h2>
        <section>
            <h3>Description of car</h3>
            <p></p>
        </section>
        
        <section>
            <h3>Ratings</h3>
            <p></p>
        </section>

        <section>
            <h3>Reviews</h3>
            <p></p>
        </section>
    </div>
    <a></a>
    <footer>&copy;Car Reviews 2019</footer>
</body>
</html>
