* {
    font-family: sans-serif;
    line-height: 1.618em;
    margin: 0;
    padding: 0;
}
h6{
    font-size:2rem;
    color:yellow;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    background-image: url(/Images/key.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 1em;
    color:yellow;
}

.three :visited{
    color:gold;
}

.three :hover{
    color:yellow;
}

.three :link{
    color:papayawhip;
}
