* {
    font-family: sans-serif;
    line-height: 1.618em;
    margin: 0;
    padding: 0;
}
a {
    padding: 2rem;
}
img{
    border-radius: 1rem;
}
html {
    font-size: 1rem;
    margin-top: 3em;
}

h1 {
    font-size: 4rem;
    color:darkgoldenrod;
}
footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color:whitesmoke;
    font-size:1.5rem;
}
footer {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    max-width: 50rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    background-image: url(/Images/key.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3em;
}
.one :link{
    font-size:1.5rem;
    color:gold;
}

.one :visited {
    font-size:1.5rem;
    color: gold;
}

.one :hover{
    color:darkgoldenrod;
}


