
* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 7.5rem;
    color: darkgoldenrod;
}

section,
footer {
    padding: 4em;
    margin: 0 auto;
    justify-content: center;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#Products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

section {
    margin: 1em 0;
    min-height: 2em;
    font-size: 1.3em;
}

carsList {
    margin: auto;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    background-image: url(/Images/key.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 1em;
}

.one :link{
    font-size:1.5rem;
    color:blue;   
}

.one :visited {
    font-size: 1.5rem;
    color: gold;
}

.one :hover{
    color: darkgoldenrod;
}
