* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size:120px;
    color:firebrick;
}

section,
footer {
    padding:4em;
    margin: 0 auto;
    justify-content:center ;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#Products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

}
section {
    
    margin: 1em 0;
    min-height: 2em;
    font-size: 1.3em;
}
carsList{
    margin:auto;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    background-image: url(/Images/road.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3em;
}

