* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    margin-top: 3em;
}

header {
    padding: 2em 0;
}

h1, h2, h3 {
    color: #666;
}

header,
section,
footer {
    margin: 0 auto;
    max-width: 800px;
}

header h1 {
font-size: 3em;
}


footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}

#Products {
    display: grid;
    justify-content: initial;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-column-gap: .5em;
}
section {
    padding: 1rem 1rem;
    margin: 1em 0;
    padding-top: 1em;
    min-height: 2em;
    font-size: 1.3em;
    border-spacing: 10px;
}
