
a {
    padding: 2rem;
}

img {
    border-radius: 1rem;
}

html {
    font-size: 1rem;
    margin-top: 3em;
}


h1 {
    color:gold;
    font-size: 4rem;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

footer {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    max-width: 50rem;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    background-image: url(/Images/leather.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3em;
}

article{
    color:gold;
    font-size:1.5rem;
}

.one :visited {
    font-size: 1.5rem;
    color: gold;
}

.one :hover {
    color: gold;
}

.two{
    color:gold;
    
}