
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Car Reviews</title>
</head>
<body>
    <h1>Car Reviews</h1>
    <p>Welcome! We review cars!</p>
    <footer>&copy; Car Reviews 2019</footer>
</body>
</html>
