
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle Reviews</title>
</head>
<body>
    <h1>Car Reviews</h1>
    <p>Welcome! We review cars!</p>
    <p>
        <img src="~/Images/mclaren-570s-spider-design-edition.jpg" alt="Mclaren 570 Spyder" style=" height: 200px; width:320px;"/>
        <h2>Mclaren 570 Spyder</h2>
        <a href ="/Product/Index">Review</a>
    </p>

    <footer>&copy; Vehicle Reviews 2019</footer>
</body>
</html>
